<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <h1>FORM</h1>
    <form action="/removepunc/" method="post">{% csrf_token %}
        <div>
          <span> <h2>Enter your Maths marks : </h2>
        <input type="number" name='maths'></span>
    </div>
    <div>
        <h2>Enter your science marks : </h2>
           <input type="number" name='science'>

    </div>
    <div>
        <h2>Enter your Socail marks : </h2>
        <input type="number" name="social">
    </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>